@page "/professor/{Id:int}"

@using Microsoft.CodeAnalysis.CSharp
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore
@using PrepodRate.Controllers
@using PrepodRate.Data

@inject ApplicationDbContext db

<PageTitle>@Id</PageTitle>

<div>@Id</div>

@if (_info is not null)
{
    <p>@_info.Name</p>
    <p>@_info.Surname</p>
    <p>@_info.Patronymic</p>
    <p>@_info.University</p>
    <p>ReviewCount: @_info.ReviewCount</p>
    <p>Rating: @_info.Rating</p>

    @foreach (var rev in _info.Reviews)
    {
        <p>@rev.Body @rev.Rating</p>
    }
}
else
{
    <p>Invalid professor id.</p>
}

@code {
    
    [Parameter]
    public int Id { get; set; }

    private Stuff.ProfessorInfo? _info = null;
    
    protected override async Task OnInitializedAsync()
    {
        _info = await Stuff.GetProfessorInfo(db, Id);
    }

}